extends main

block content
    h5.display-5 Gourmet Restaurant
    h4.display-4 French Exquisite Dishes
    br/
    a(href="/dishes").text-center.btn.btn-primary View Dishes
        i.fa.fa-check.pull-left(style='margin-top: 2px')